:root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --colorBlue: rgba(0, 0, 255, 0.808);
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} 

/* SignIn Component */

h3 {
    color: var(--colorBlue);
}

/* SignUp Component */

/* nav Component */
ul li {
    list-style: none;
}

/* Home view */
h1 {
    color: var(--colorBlue);
}

/* Account View